<mat-toolbar class="background--grey toolbar__top">

  <nav class="toolbar__nav">
    <a class="main-logo"
       routerLink="/">
    </a>

    <div class="search__wrapper">
      <input type="text"
             placeholder="What are you want to find out?"
             class="search__input"
             [formControl]="lookingValue"
             (submit)="pushQuery(lookingValue.value)">

      <button type="submit"
              class="background--blue search__btn"
              (click)="pushQuery(lookingValue.value)"
              [disabled]="lookingValue.invalid">
        search
      </button>
    </div>

    <button class="background--blue settings__btn"
            (click)="toggleSettings()">
      <div class="settings__btn--icon"></div>
    </button>
  </nav>
</mat-toolbar>

<div class="user-block">
  <div class="user__name">
    user
  </div>
  <div class="user__ava"></div>
</div>

<mat-toolbar class="background--grey toolbar__bottom"
             [ngClass]="{visible: settingsVisible}">
  <nav class="toolbar__nav toolbar__nav--sorting-nav">
    <div class="sort__title">
      Sorting by:
    </div>

    <mat-list class="sort__list">
      <mat-list-item class="sort__item">
        <button mat-flat-button
                class="sort__item__btn"
                (click)="changeDateSortingState()">
          <span>
            date
          </span>

          <mat-icon>
            {{dateSortingState()}}
          </mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item class="sort__item">
        <button mat-flat-button
                class="sort__item__btn"
                (click)="changeViewsSortingState()">

          <span>
            count of views
          </span>
          <mat-icon>
            {{viewsSortingState()}}
          </mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item class="sort__item sort__item--filter">
        by word or sentence

        <input type="text"
               placeholder="filter"
               class="filter__input"
               [formControl]="filterValue">
      </mat-list-item>
    </mat-list>
  </nav>
</mat-toolbar>
