.mat-toolbar, .sort__item__btn, .mat-list, .mat-list-item, .mat-list-item-content {
  font-size: 0.75rem;
  line-height: 0.875rem;
  padding: 0;
  font-weight: 400;
}

.mat-toolbar {
  display: flex;
  justify-content: center;
}

.toolbar__top {
  height: 5rem;
}

.toolbar__nav {
  display: flex;
  justify-content: space-between;
  width: 35.625rem;
  align-items: center;
}

.main-logo {
  width: 50px;
  height: 50px;
  background: url("~src/img/icons/css_sprites.png") -80px -10px;
}

.search__wrapper {
  height: 1.5rem;
}

.search__input {
  width: 24.75rem;
  height: 100%;
  padding: 0 0.35rem;
  background-color: var(--light-gray);
  outline: none;
  border: 0;
  border-radius: 0.25rem 0 0 0.25rem;
  color: var(--text-gray);

  &:focus {
    color: var(--primary-black);
  }
}

.search__btn {
  height: 100%;
  width: 5rem;
  border-radius: 0 0.25rem 0.25rem 0;
  outline: none;
  border: none;

  &:hover {
    box-shadow: 1px -1px 3px 1px rgba(47, 128, 237, 0.5);
  }

  &:active {
    box-shadow: none;
    background-color: var(--light-blue);
  }

  &:disabled {
    box-shadow: none;
    background-color: var(--text-gray);
  }
}

.settings__btn {
  height: 24px;
  width: 24px;
  padding: 0;
  border-radius: 5px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 1px -1px 3px 1px rgba(47, 128, 237, 0.5);
    background-color: var(--light-blue);
  }

  &:active {
    box-shadow: none;
  }

  .settings__btn--icon {
    height: 16px;
    width: 16px;
    background: url("~src/img/icons/css_sprites.png") -150px -10px;
  }
}

.user-block {
  position: absolute;
  top: 1.75rem;
  right: 9.75rem;
  display: flex;
  align-items: center;
  color: var(--text-dark-gray);
  cursor: pointer;
  margin-left: 1rem;
}

.user__ava {
  width: 23px;
  height: 24px;
  background: url("~src/img/icons/css_sprites.png") -10px -85px var(--primary-white);
  border-radius: 2.7px;
  margin-left: 0.5rem;

}

.login-btn {
  height: 2rem;
  margin-left: 1rem;

  &:disabled {
    box-shadow: none;
    background-color: var(--text-gray);
  }
}

.toolbar__bottom {
  height: 0;
  visibility: hidden;
  transition: 0.4s ease-in-out;
}

.toolbar__bottom.visible {
  height: 3.125rem;
  visibility: visible;
}

.toolbar__nav--sorting-nav {
  justify-content: space-around;
}

.sort__title {
  color: var(--text-gray);
}

.sort__list {
  display: flex;

}

.sort__item {
  color: var(--primary-blue);
  margin: 0 0.5rem;

  &:hover, &:active {
    text-decoration: underline;
  }
}

.sort__item__btn {
  background-color: inherit;
  padding: 0;
  color: inherit;
}

.sort__item--filter {
  &:hover, &:active {
    text-decoration: none;
  }
}

.filter__input {
  padding: 0 0.35rem;
  margin-left: 0.5rem;
  background-color: var(--primary-white);
  outline: none;
  border: 0;
  border-radius: 0.25rem;
  color: var(--text-gray);

  &:focus {
    color: var(--primary-black);
  }
}


