<mat-list>

  <mat-list-item>
    <app-item-card>

    </app-item-card>
  </mat-list-item>

  <mat-list-item>
    <app-item-card>

    </app-item-card>
  </mat-list-item>

  <mat-list-item>
    <app-item-card>

    </app-item-card>
  </mat-list-item>

  <mat-list-item>
    <app-item-card>

    </app-item-card>
  </mat-list-item>

  <mat-list-item>
    <app-item-card>

    </app-item-card>
  </mat-list-item>

  <mat-list-item>
    <app-item-card>

    </app-item-card>
  </mat-list-item>

  <mat-list-item>
    <app-item-card>

    </app-item-card>
  </mat-list-item>

  <mat-list-item>
    <app-item-card>

    </app-item-card>
  </mat-list-item>

  <mat-list-item>
    <app-item-card>

    </app-item-card>
  </mat-list-item>

  <mat-list-item>
    <app-item-card>

    </app-item-card>
  </mat-list-item>

  <mat-list-item>
    <app-item-card>

    </app-item-card>
  </mat-list-item>

  <mat-list-item>
    <app-item-card>

    </app-item-card>
  </mat-list-item>


</mat-list>
