<mat-card class="background--grey" [BoxShadowColor]="item.snippet.publishedAt">

  <button class="back-btn" routerLink="/">
    <span class="back-btn__icon"></span>
  </button>

  <img mat-card-image
       [src]="item.snippet.thumbnails.medium.url">

  <mat-card-content [BorderBottomColor]='item.snippet.publishedAt'>
    <mat-card-header>
      <mat-card-title>
        {{item.snippet.title}}
      </mat-card-title>

      <mat-card-subtitle>
        {{publishedDate | date: 'fullDate'}}
      </mat-card-subtitle>
    </mat-card-header>


    <mat-card-title>Description</mat-card-title>
    <p>{{item.snippet.description}}</p>


    <mat-card-footer>
      <app-statistics-folder
        [statistics]="item.statistics">
      </app-statistics-folder>
    </mat-card-footer>

  </mat-card-content>
</mat-card>
