<div class="authorization-wrapper background--secondary-grey">

  <p class="authorization-title">
    Login
  </p>

  <form class="authorization-form">
    <mat-form-field >
      <label class="authorization-label"> login
        <input matInput class="authorization-input">
      </label>
      <div class="input-footer"></div>
    </mat-form-field>

    <mat-form-field >
      <label class="authorization-label"> password
        <input matInput class="authorization-input">
      </label>
      <div class="input-footer"></div>
    </mat-form-field>

    <div class="form-actions">
      <a routerLink="/registration" class="form-actions__link">Registration</a>
      <button type="submit" class="background--blue form-actions__button">Login</button>
    </div>
  </form>
</div>

