<mat-card class="background--grey">
  <img mat-card-image >

  <mat-card-title-group>
    <mat-list class="statistics">
    <mat-list-item class="statistics__item">
    <div class="statistic__icon views"></div>
    <div class="statistic__counter">111</div>
    </mat-list-item>

    <mat-list-item class="statistics__item">
    <div class="statistic__icon likes"></div>
    <div class="statistic__counter">111</div>
    </mat-list-item>

    <mat-list-item class="statistics__item">
    <div class="statistic__icon dislikes"></div>
    <div class="statistic__counter">111</div>
    </mat-list-item>

    <mat-list-item class="statistics__item">
    <div class="statistic__icon comments"></div>
    <div class="statistic__counter">111</div>
    </mat-list-item>
    </mat-list>
  </mat-card-title-group>

  <mat-card-title>
    title
  </mat-card-title>

  <mat-card-actions>
    <button class="background--blue">
      <span>more...</span>
    </button>
  </mat-card-actions>

  <mat-card-footer class="background--blue footer-line">
  </mat-card-footer>
</mat-card>
