:host {
  height: inherit;
}

.mat-card {
  padding: 1.25rem 1.25rem 0.625rem 1.25rem;
  width: auto;
  border-bottom: 5px solid;
}

img {
  width: 223px;
  height: 123px;
  margin: 0;

  &:first-child {
    margin: 0;
  }
}

.mat-card-title {
  height: 4.5625rem;
  text-align: end;
  width: 223px;
}

.mat-card-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 !important;
  padding: 0;

  button {
    height: 2rem;
    width: 7.5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      box-shadow: 1px -1px 3px 1px rgba(47, 128, 237, 0.5);
    }
    
    &:active {
      background-color: var(--light-blue);
    }
  }

  &:last-child {
    margin-bottom: 0 !important;
  }
}

