:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editItem-wrapper {
  margin-top: 7.5rem;
  width: 27.05rem;
  padding: 1.625rem;
  border-radius: 1.1rem;
  box-sizing: border-box;
}

.editItem-form {
  display: flex;
  flex-direction: column;
  margin-top: 1.6875rem;
}

.editItem-title {
  font-size: 1.4rem;
  line-height: 1.6875rem;
  font-weight: bold;
}

.editItem-label {
  font-size: 0.625rem;
  line-height: 0.75rem;
  color: var(--text-gray);
}

.editItem-input {
  height: 1.875rem;
  background-color: var(--dark-grey);
}

.input-footer {
  height: 5px;
  background-color: var(--dark-grey);
}

.editItem-label:hover + .input-footer {
  border-radius: 0 0 5px 5px;
  background-color: var(--red-color);
}

.form-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-top: 0.875rem;


  .form-actions__link {
    margin-right: 1rem;
    color: var(--primary-blue);
  }

  .form-actions__button {
    height: 2rem;
    width: 11.75rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      box-shadow: 1px -1px 3px 1px rgba(47, 128, 237, 0.5);
    }

    &:active {
      background-color: var(--light-blue);
    }
  }
}




