<mat-list class="statistics">

  <mat-list-item class="statistics__item">
    <div class="statistic__icon views"></div>

    <div class="statistic__counter">
      {{statistics.viewCount | roundCount}}
    </div>
  </mat-list-item>

  <mat-list-item class="statistics__item">
    <div class="statistic__icon likes"></div>

    <div class="statistic__counter">
      {{statistics.likeCount | roundCount }}
    </div>
  </mat-list-item>

  <mat-list-item class="statistics__item">
    <div class="statistic__icon dislikes"></div>

    <div class="statistic__counter">
      {{statistics.dislikeCount | roundCount}}
    </div>
  </mat-list-item>

  <mat-list-item class="statistics__item">
    <div class="statistic__icon comments"></div>

    <div class="statistic__counter">
      {{statistics.commentCount | roundCount }}
    </div>

  </mat-list-item>
</mat-list>
