:host {
  display: flex;
  height: 28.75rem;
  justify-content: center;
  padding-top: 2.755rem;
}

.mat-card {
  border: 0;
  display: flex;
  padding: 0;
  width: auto;
}

.back-btn {
  width: 32px;
  height: 32px;
  margin-left: -32px;
  background-color: var(--primary-blue);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 5px 0 0 5px;

  &:hover {
    background-color: var(--light-blue);
  }

  .back-btn__icon {
    width: 17px;
    height: 20px;
    background: url('~src/img/icons/css_sprites.png') -53px -85px;
  }
}

.mat-card-image {
  width: 45.625rem;
  margin: 0!important;
  border-bottom-left-radius: 5px;
}

.mat-card-content {
  padding: 2.25rem 2.25rem 2.25rem 2.25rem;
  width: 27.25rem;
  box-sizing: border-box;
  border-bottom: 5px solid;
  border-radius: 0 5px 5px 0;
}

.mat-card-header {
  align-items: end;

  .mat-card-title {
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: bold;
    height: 3.45rem;
    overflow: hidden;
  }

  .mat-card-subtitle {
    font-size: 0.625rem;
    line-height: 0.75rem;
    font-weight: normal;
    color: var(--text-gray);
  }
}

.mat-card-title:not(:first-child), .mat-card-subtitle:not(:first-child) {
margin: 0.875rem 0 4px 0;
}

.mat-card-title {
  font-size: 0.875rem;
  line-height: 1rem;
}

p {
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: normal;
  color: var(--text-gray);
  height: 17.5rem;
  margin: 0;
  overflow: hidden;
}
