<div class="authorization-wrapper background--secondary-grey">

  <p class="authorization-title">
    Registration
  </p>

  <form class="authorization-form">
    <mat-form-field>
      <label class="authorization-label"> First Name
        <input matInput class="authorization-input">
      </label>
      <div class="input-footer"></div>
    </mat-form-field>

    <mat-form-field>
      <label class="authorization-label"> Last Name
        <input matInput class="authorization-input">
      </label>
      <div class="input-footer"></div>
    </mat-form-field>

    <mat-form-field>
      <label class="authorization-label"> mail
        <input matInput class="authorization-input">
      </label>
      <div class="input-footer"></div>
    </mat-form-field>

    <mat-form-field>
      <label class="authorization-label"> password
        <input matInput class="authorization-input">
      </label>
      <div class="input-footer"></div>
    </mat-form-field>

    <div class="form-actions">
      <a routerLink="/login" class="form-actions__link">Login</a>
      <button type="submit" class="background--blue form-actions__button">Registration</button>
    </div>
  </form>
</div>
