/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


:root {
  --primary-blue: #2F80ED;
  --light-blue: #5EA2FF;
  --primary-white: #ffffff;
  --primary-black: #000000;
  --primary-gray: #e5e5e5;
  --secondary-gray: #f2f2f2;
  --dark-grey: #e0e0e0;
  --light-gray: #efefef;
  --text-gray: #929292;
  --text-dark-gray: #4f4f4f;
  --red-color: #EB5757;
  --primary-green: #27AE60;
  --primary-yellow: #F2C94C;
}

.background--grey {
  background-color: var(--primary-gray);
}

.background--blue {
  background-color: var(--primary-blue);
  color: var(--primary-white);
}

.background--secondary-grey {
  background-color: var(--secondary-gray);
}

.mat-list-item-content {
  padding: 0 !important;
}

.mat-card-header-text {
  display: flex;
  margin: 0 !important;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;

  .mat-card-title {
    margin: 0 !important;
  }

  .mat-card-subtitle {
    margin: 0 !important;
  }
}

.mat-form-field-underline {
  display: none !important;
}

.mat-form-field-infix {
  border: none;
  padding: 0 !important;
}

.mat-form-field-wrapper {
  padding: 0 !important;
  margin-bottom: 0.75rem;
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
