/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


:root {
  --primary-blue: #2F80ED;
  --primary-white: #ffffff;
  --primary-black: #000000;
  --primary-gray: #e5e5e5;
  --light-gray: #efefef;
  --text-gray: #929292;
  --text-dark-gray: #4f4f4f;
}

.background--grey {
  background-color: var(--primary-gray);
}

.background--blue {
  background-color: var(--primary-blue);
  color: var(--primary-white);
}

.sort__item > *{
  padding: 0 !important;
  margin: 0 0.5rem;
}

